/* Blue theme - standar */
/* Variables */
:root {
	/* Variables */
	/* scrollbar colors */
	--scrollbar_track_col:				#002bff;
	--scrollbar_thumb_col:				#1b6de1;
	--scrollbar_button_col:				#673AAE;
	--scrollbar_button_col_hover:	#999;
}

/* Generic background */
.mn-theme-container 							{background-color:#000000 !important}

/**********/
/* header */
/**********/
.mn-theme-header 									{background: linear-gradient(#03437a, #061d414f) !important}
.mn-theme-header-inverse 					{background: linear-gradient(#000, #0b38814f) !important}

/* menu */
.mn-theme-header ul 							{background-color: transparent;}
.mn-theme-header ul li:hover 			{background-color: #054ec4a6;}
.mn-theme-header ul li a  				{color: #fff;}
.mn-theme-header ul li:hover a 		{color: #eefe00;}

/* Primer elemento de menu */
.mn-theme-menu-1 a 								{color:#59b9cd !important}
.mn-theme-menu-1:hover a 					{color:#fff !important;}

/* Submenu */
.mn-theme-header ul li ul 				{background-color: #1b6de175;}
.mn-theme-header ul li:hover > ul	{background-color: #054ec4df;backdrop-filter: blur(5px);}
.mn-theme-header ul li:hover > ul li:hover a {color: #ff6a00;backdrop-filter: blur(5px);}

/* arrows down and right */
.mn-theme-header ul a:not(:only-child)::after {color: #eefe00;}
.mn-theme-header ul ul a:not(:only-child)::after {color: #1c70d1}; /* por ahora no lo utilizo */

/* Inverse Pag's pares */
.mn-theme-header-inverse ul 						{background-color: transparent;}
.mn-theme-header-inverse ul li:hover 		{background-color: yellow;}
.mn-theme-header-inverse ul li a 				{color: yellow;}
.mn-theme-header-inverse ul li:hover a  {color: #0000ff;}

/* Inverse primer elemento de menu */
.mn-theme-inverse-menu-1 a 							{color:#fff !important}
.mn-theme-inverse-menu-1:hover a 				{color:#ff6a00 !important;}

/* Inveres Submenu */
.mn-theme-header-inverse ul li ul 				{background-color: yellow;}
.mn-theme-header-inverse ul li:hover > ul	{background-color: rgba(255, 255, 0, 0.64);backdrop-filter: blur(5px);}
.mn-theme-header-inverse ul li:hover > ul li:hover a {color: #ff6a00;backdrop-filter: blur(5px);}

/* input */
.mn-theme-header input 									{color:#000 !important; background-color:#fff !important}
.mn-theme-header input:hover 						{outline: solid 3px yellow;}
.mn-theme-header input:focus-visible 		{outline: solid 3px yellow;}

/***************/
/* Page themes */
/***************/

/* Pag1 y Pag3 */
.mn-theme 						{color:#59b9c9 !important; background-color:#000000 !important}
.mn-text-theme 				{color:#59b9c9 !important}
.mn-theme h1 					{color:#59b9c9 !important}
.mn-theme h2 					{color:#cccccc !important}

.mn-theme a 					{color:#ffffff!important}
.mn-theme a:hover 		{background-color: #3ceaf012;}
.mn-theme p 					{color:#cccccc !important}
.mn-theme ul 					{background: linear-gradient(180deg, #011835, #083f70) !important}
.mn-theme .atencion 	{color: #f7b60b !important}
.mn-theme-border 			{border-color:#ff0000 !important;}

/* Pag2 */
.mn-theme-inverse 		{color:#0071e3 !important; background-color:#f5f5f7 !important}
.mn-theme-inverse h1 	{color:#0071e3 !important}
.mn-theme-inverse h2 	{color:#000 !important}
.mn-theme-inverse p 	{color:#000 !important}

/* Pag4 */
.mn-theme-alt 				{color:#0071e3 !important; background-color:#ddd !important}

/* Specific them for the cards */
.gallery .card 			{background-color: #f6f5f5 !important}
.gallery .card h1 	{color: #f74b0b !important;}
.gallery .card p 		{color: #074c6b !important}
.gallery .card a 		{color: #f74b0b !important}
.gallery .card a span {border-color: #ddd}
.gallery .card a span:hover {	color: #fff !important;background-color: #f74b0b !important}

.shadow-1 {box-shadow: 5px 5px 5px rgba(0, 0, 0, .3)} /* gallery card img */
/* .shadow-2 {box-shadow: -8px -8px 5px rgba(255, 255, 255, .8), 5px 5px 5px rgba(90, 90, 90, .2)} */
/* .shadow-3 {box-shadow: -5px -5px 5px rgba(255, 255, 255, .8), 5px 5px 5px rgba(90, 90, 90, .2);} */
.shadow-4 {box-shadow: 0px 2px 3px #ddd;}
.shadow-4:hover { box-shadow: 0px 1px 1px #ddd inset;}

/* Footer */
.mn-theme-footer {color: #ddd !important; background-color: #000 !important; a{color:#ddd} p {a{color:orangered}}}
.mn-theme-footer h1 {color: #0071e3;}
.mn-theme-footer p:nth-child(3) {color:#f74b0b !important};

/* Deprecated */
/* monocromatic theme */

.mn-text-theme-inverse {color:#000000 !important}
.mn-text-theme-1 {color:#ccc !important}
.mn-text-theme-2 {color:#0071e3 !important}
.mn-text-theme-3 {color:#ccc !important}

.mn-border-theme {border-color:#59b9c9 !important}

.mn-theme-l5 {color:#000 !important; background-color:#f5fbfc !important}
.mn-theme-l4 {color:#000 !important; background-color:#def1f4 !important}
.mn-theme-l3 {color:#000 !important; background-color:#bde3ea !important}
.mn-theme-l2 {color:#000 !important; background-color:#9cd5df !important}
.mn-theme-l1 {color:#000 !important; background-color:#7bc7d4 !important}

.mn-theme-d1 {color:#fff !important; background-color:#43afc2 !important}
.mn-theme-d2 {color:#fff !important; background-color:#399eb0 !important}
.mn-theme-d3 {color:#fff !important; background-color:#328a9a !important}
.mn-theme-d4 {color:#fff !important; background-color:#2b7684 !important}
.mn-theme-d5 {color:#fff !important; background-color:#24636e !important}
.mn-theme-d6 {color:#fff !important; background-color:#19454d !important}
